Adafruit-DHT==1.0.0
attrs==17.4.0
click==6.7
Flask-SQLAlchemy==2.3.2
Flask==0.12.2
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
MySQL-python==1.2.5
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
python-dateutil==2.6.1
pywapi==0.3.8
RPi.GPIO==0.6.1
six==1.11.0
SQLAlchemy==1.2.0
Werkzeug==0.14.1
