{% extends "base.html" %}
{% block body %}
<h1> Raspi Weather Station </h1>
<div id="output"></div>
{% raw %}
<script id="template" type="text/ractive">
  <ul class='todos'>
	  {{#each items: i}}
	  	{{>item}}
	  {{/each}}
	</ul>
  {{#partial item}}
    <a href={{.page}}>
      <div class="card">
      <div class="container">
        <h4><b>{{.page}}</b></h4>
        <img src="{{.image}}" alt="Avatar" style="width:15%">
      </div>
      </div>
    </a><br>
    {{/partial}}
</script>
{% endraw %}

{% endblock %}
