<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home weather station</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <h1>Raspberry Pi Weather Station</h1>
    <div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/house.png') }}" alt="Avatar" style="width:15%">
        <div class="container">
          <h4><b>Indoor weather</b></h4>
          <p><a href='home_weather'>Details</a></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/outdoor.png') }}" alt="Avatar" style="width:15%">
        <div class="container">
          <h4><b>Outdoor weather</b></h4>
          <p><a href='outdoors'>Details</a></p>
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/bus.png') }}" alt="Avatar" style="width:15%">
        <div class="container">
          <h4><b>Next Bus</b></h4>
          <p><a href='www.google.com'>Details</a></p>
        </div>
      </div> 
    </div>
</div>
</body>
</html>
