{% extends "base.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3plus.min.js') }}"></script>
<h1>Indoor Conditions</h1>
<div id="output"></div>
<p>Date:<input type="text" id="datepicker"></p>
{% raw %}
<script id="template" type="text/ractive">
</script>
{% endraw %}

<div id="viz"></div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<div>
  Latest measured temp: {{instant.temp}}<br>
  Latest measured hum: {{instant.hum}}<br>
  Time: {{instant.timestamp}}<br>
</div>
</div>
{% endblock %}
