{% extends "base.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<h1>Indoor Conditions</h1>
<div id="output"></div>
<p>Select day:<input type="text" id="daypicker"></p>
<p>Select month:<input type="text" id="monthpicker"></p>
{% raw %}
<script id="template" type="text/ractive">
</script>
{% endraw %}

<div id="viz"></div>


<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<div>
  <input id="month_mode"  type="checkbox">Month mode<br><br>
  Current temp: {{instant.temperature}} C<br>
  Current hum: {{instant.humidity}} %<br>
</div>
<canvas id="temp_chart" width="200" height="50"></canvas>
<canvas id="hum_chart" width="200" height="50"></canvas>
</div>
{% endblock %}
