{% extends "base.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<h1>Indoor Conditions</h1>
Current temp: {{instant.temperature}} C<br>
Current hum: {{instant.humidity}} %<br>
<div id="output"></div>
<p>Select date:<input type="text" id="daypicker"></p>
<input id="month_mode"  type="checkbox">Month mode<br><br>
<p id="loadingDiv">Loading...</p>
<canvas id="temp_chart" width="200" height="50"></canvas>
<canvas id="hum_chart" width="200" height="50"></canvas>
</div>
{% raw %}
<script id="template" type="text/ractive">
</script>
{% endraw %}
<div id="viz"></div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

