<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home weather station</title>
</head>
<body>
  <div>
    <h2>Today - {{ today.date }}</h2>
    <p> It is {{ today.out_conditions }} and feels like: {{ today.feels_like }} C</p>
    <p> Temperature: {{ today.out_temperature }} C</p>
    <p> Humidity: {{ today.out_humidity }} %</p>
    <p> UV index: {{ today.uv_index }}</p>
    <p> Wind direction: {{ today.wind_direction }}</p>
    <p> Wind speed: {{ today.wind_speed }} km/h</p>
    <br>
    <h2>Tomorrow - {{forecast.date }}</h2>
    <br>
    <p>Max/min: {{ forecast.high }} C / {{ forecast.low }} C</p>
    <p>Sunrise: {{ forecast.sunrise }}</p>
    <p>Sunset: {{ forecast.sunset }}</p>
    <h3>Day - {{ forecast.day_text }}</h3>
    <p>Humidity: {{ forecast.day_humidity }}</p>
    <p>Chance of rain: {{ forecast.day_precip }}</p>
    <p>Wind guts: {{ forecast.day_wind }} Km/h</p>
    <br>
    <h3>Night - {{ forecast.night_text }}</h3>
    <p>Humidity: {{ forecast.night_humidity }}</p>
    <p>Chance of rain: {{ forecast.night_precip }}</p>
    <p>Wind: {{ forecast.night_wind }} Km/h</p>
  </div>
</body>
</html>
