<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home weather station</title>
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>  
</head>
<body>
  <h1>Arbitrary day</h1>
  <div id="placeholder" style="width:600px;height:300px"></div>
  <div>
    <button id='button'>show graph</button>
  </div>
</body>
</html>
